<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
    
      <a class="navbar-brand" routerLink="/home" >
       <span><img src="http://hoverpad.wtf/github.png"> </span>
       Github Users</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li routerLinkActive="active"><a routerLink="/home" >home</a></li>
      <li routerLinkActive="active"><a routerLink="/users" >Users</a></li>
      <li routerLinkActive="active"><a routerLink="/about" >About</a></li>
    
    </ul>
  </div>
</nav>